{% load humanize %}
<table class="admin-section">
    <thead class="admin-section-title-extended">
        {% comment %} <th colspan="6">Active accounts overview</th> {% endcomment %}
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Owner</th>
            <th>Balance</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody class="admin-section-content-extended">
        {% for account in accounts %}
            <tr>
                <td>
                    {{ account.details.id }}
                </td>
                <td>
                    {{ account.details.account_type.type.capitalize }}
                </td>
                <td>
                    {{ account.owner.first_name }} {{ account.owner.last_name }}
                </td>
                <td>                                    
                    {{ account.details.balance|intcomma }} DKK
                </td>
                <td>
                    <a style="color: white; text-align: center;" href="{% url 'banking_system_app:account_details' account_id=account.details.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>