<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'partials/_header.html' with title='ANFA Bank | Admin Panel' %}
    </head>
    <body class="employees">
        {% include 'partials/_admin_navbar.html' with selected='accounts'%}
        <div class="container">
            <div class="main">
                
                <table class="admin-section">
                    <thead class="admin-section-title">
                        <th colspan="5">Accounts overview</th>
                        <tr>
                            <th>ID</th>
                            <th>Type</th>
                            <th>Balance</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody class="admin-section-content">
                        {% for account in accounts %}
                            <tr>
                                <td>
                                    {{ account.id }}
                                </td>
                                <td>
                                    {{ account.account_type.type.capitalize }}
                                </td>
                                <td>
                                    {% load humanize %}
                                    {{ account.balance|intcomma }} DKK
                                </td>
                                <td>
                                    <a style="color: white; text-align: center;" href="{% url 'banking_system_app:account_details' account_id=account.id %}"><i class="fa-solid fa-pen-to-square"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </body>
</html>
