{% extends "customer_nav_bar_template.html"%}

    {% block content%}
    <h1>Welcome, {{ user.first_name }}!</h1>
        <table class="table table-striped">
            <h3>Select account</h3>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Account number</th>
                    <th scope="col">Type</th>
                    <th scope="col">Balance</th>
                </tr>
                </thead>
                {% for account in accounts %}
                <tbody>
                    <tr>
                        <th scope="row">{{ idx }}</th>
                        <td><a href="account/{{account.id}}">{{ account.account_name }}</a></td>
                        <td><a href="account/{{account.id}}">{{ account.id }}</a></td>
                        <td><a href="account/{{account.id}}">{{ account.account_type }}<a/></td>
                        <td><a href="account/{{account.id}}">{{ account.balance }}</a></td>
                    </tr>
                </tbody>
                {% endfor %}
        </table>                 
    </div>

    {% endblock %}

