{% extends "client/customer_nav_bar_template.html" %}
{% load date_utils %}
{% load humanize %}
{% block content %}
    <div style="display:flex; justify-content:space-between;">
        <h2>Account: {{ account.id }}</h2>
        <h2>
            Balance:
            <span {% if account.balance >= 0 %} style="color: green;" {% else %} style="color: red;" {% endif %}>
                {{ account.balance|intcomma }}
            </span> DKK
        </h2>
    </div>
    <a class="btn btn-secondary" href="/transfer_requests/{{ account.id }}"style="float: right; margin-right: 10px">Transfer requests</a>
    <div>
        <table class="table table-striped">
            <h3>Transaction History</h3>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Account</th>
                    <th scope="col">Text</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date and time</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in account.movements %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ transaction.account.id }}</td>
                        <td>{{ transaction.text }}</td>
                        <td {% if transaction.amount >= 0 %} style="color:green;" {% else %} style="color:red;" {% endif %}>
                            {{ transaction.amount|intcomma }} DKK
                        </td>
                        <td>{% european_date transaction.created_at %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-info" href="/transfer" style="float: right;">Transfer</a>
        {% if can_loan %}
            <a class="btn btn-info"
               href="/loan/{{ account.id }}"
               style="float: right; margin-right: 10px">Loan</a>
        {% endif %}
    {% endblock %}
