{% extends "client/customer_nav_bar_template.html"%}
    {% block content %}
        <br>
        <br>
        <br>
        <div class="container-fluid" style="width:50%" align="left">
            {% if status == 1%}
                <div class="alert alert-success" role="alert">
                    Transaction Succeeded
                </div>
            {% elif status == 0 %}
                <div class="alert alert-danger" role="alert">
                    Transaction was unsuccessful
                </div>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                <h1>Request</h1>
                <select name="from_account" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option selected>Choose your account</option>
                    {% for account in accounts %}
                        <option value={{account.id}}>{{account.id}}</option>
                    {% endfor %}
                </select>
                <input type="text" class="form-control" name="to_account" placeholder="Recipient's account number" />
                <br>
                <input type="text" class="form-control" name="amount" placeholder="Amount" />
                <br>
                <textarea class="form-control" name="text" rows="3"></textarea>
                <br>
                <button class="btn btn-primary">Request a Transfer</button>
            </form>
    
    {% endblock %}