asgiref
async-timeout
certifi
charset-normalizer
click
Deprecated
dj-rest-auth
Django
django-extensions
django-rest-framework
django-rq
djangorestframework
flake8
gunicorn
idna
mccabe
mysql-connector-python
mysqlclient
packaging
protobuf
psycopg2-binary
pycodestyle
pyflakes
PyJWT
pyparsing
python-decouple
pytz
redis
requests
rq
six
sqlparse
twilio
urllib3
wrapt
