<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'partials/_header.html' with title='ANFA Bank | Admin Panel' %}
    </head>
    <body class="employees">
        {% include 'partials/_admin_navbar.html' with selected='clients'%}
        <div class="container">
            <div class="main">
                <h3>ACTIVE CLIENTS</h3>
                {% include 'partials/_clients_overview.html' with clients=active_clients %}
                <h3>UNACTIVE CLIENTS</h3>
                {% include 'partials/_clients_overview.html' with clients=unactive_clients %}                
                <a type="button" class="btn btn-light" href="{% url 'banking_system_app:show_create_user' user_type='client' %}">Add new client</a>
            </div>
        </div>
    </body>
</html>
