<!DOCTYPE html>
<html lang="en">
    <head>
        {% include 'partials/_header.html' with title='ANFA Bank | Admin Panel' %}
    </head>
    <body class="employees">
        {% include 'partials/_admin_navbar.html' with selected='accounts'%}
        <div class="container">
            <div class="main">
                <a href="{% url 'banking_system_app:show_create_account' %}">Add new account</a>                
                {% include 'partials/_accounts_overview.html' with accounts=active_accounts %}
                {% include 'partials/_accounts_overview.html' with accounts=unactive_accounts %}
            </div>
        </div>
    </body>
</html>
